.Person{
    width :60%;
    margin:16px auto;
    box-shadow: 0 1px 2px #ccc;
    padding: 16px;
    text-align: center;
}

.div-persons{
    width:70%;
    margin:12px auto;
    box-shadow: 1px 1px 1px 1px red;
    text-align: center;
}